<section>
    <div class="container">


        <div class="row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold">Housetrain your big, aggressive dog.</h1>

                <p class="lead mb-4">Dogs do not understand punishment and are therefore more likely to respond more aggressively or aggressively when punishment is used. Learn with our articles how to train your big and aggressive dogs.</p>
                <div class="">
                    <%= link_to 'Articles listing', articles_path, class: "btn btn-primary"%>
                    <%= link_to 'About page', about_path, class: "btn btn-secondary" %>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">

                <img class="d-block" src="https://www.funpawcare.com/wp-content/uploads/2015/06/Agressive-Dog-Biting.jpg" alt="" width="100%" height="auto">
            </div>


        </div>

    </div>

</section>
