<div class="container">
    <div class="spacer-40"></div>
    <h1>Homepage</h1>
    <div class="spacer-20"></div>

    <%= link_to 'Articles listing', articles_path %>
    <%= link_to 'About page', about_path %>
</div>